* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: #808080;
    color: #000000;
  }
  
  .hero {
    background: #181818;
    color: rgb(0, 255, 21);
    text-align: center;
    padding: 40px 20px;
  }
  
  .profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(0, 255, 38);
    margin-bottom: 15px;
  }
  
  .subtitle {
    opacity: 0.9;
    margin-top: 8px;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
  }
  
  section {
    margin-bottom: 25px;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #1200b4;
  }
  
  .skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skills li {
    background: #adadad;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #000000;
  }  
  p {
    text-align: justify;
    line-height: 1.7;
  }  
  .center-text {
    text-align: center;
  }  
  .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  .btn.primary {
    background: #2563eb;
    color: white;
  }
  
  .btn.primary:hover {
    background: #1e40af;
  }
  
  .btn.secondary {
    border: 2px solid white;
    color: white;
  }
  
  .btn.secondary:hover {
    background: white;
    color: #1f2933;
  }  
  .finance-tool {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
  }
  
  .finance-tool input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .finance-tool button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
  }
  
  #hasil {
    margin-top: 20px;
    text-align: left;
  }  
  .wa-btn {
    display: block;
    width: fit-content;
    margin: 15px auto;
    padding: 12px 24px;
    background: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
  }  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .hero > * {
    animation: fadeUp 0.8s ease forwards;
  }
  .hero img {
    animation-delay: 0.1s;
  }
  
  .hero h1 {
    animation-delay: 0.2s;
  }
  
  .hero p {
    animation-delay: 0.3s;
  }
  
  .hero .wa-btn {
    animation-delay: 0.4s;
  }
  
  .hero .btn {
    animation-delay: 0.5s;
  }      